h1 {
  color: #808000;
  text-align: center;
}

h2 {
  color: #ADFF2F;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px #000;
}

p {
  color: #228B22;
  text-shadow: -3px -3px black;
  font-size: 50px;
}

body {
  background-color: #98FB98;
  font-family: monospace;
  text-align: center;
}
